.controls {
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
}

.controlIcon {
  margin: 0.5rem;
  height: 2.2rem;
  width: 2.2rem;
}

.controlButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 0.7rem;
}
