.player {
  margin: 2rem 0;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--semitransparent-background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin: 0.2rem 0;
}
