.footer {
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.contact {
  font-size: 1.5rem;
  line-height: 2.5;
  padding-right: 1.5rem;
  color: var(--transparent-black);
}

.wavies {
  height: 3rem;
  margin-right: -1.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.4;
}

@media only screen and (max-width: 768px) {
  .footer {
    justify-content: center;
  }

  .contact {
    font-size: 1rem;
    line-height: 4;
  }
}
