.footer {
  align-self: flex-end;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact {
  font-size: 1.5rem;
  padding: 0.2rem 0.2rem 0.2rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--semitransparent-background);
  color: var(--white);
}

.lines {
  height: 1.5rem;
  margin-right: -1.5rem;
  z-index: 99;
}

@media only screen and (max-width: 768px) {
  .footer {
    justify-content: center;
  }

  .contact {
    font-size: 1rem;
  }

  .lines {
    height: 1rem;
  }
}
