html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier Prime", monospace, sans-serif;
  color: #940f06;
  background-color: #bdad93;
  background-image: url("../public/paper_texture.jpeg");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
