.progress {
  padding: 0.5rem;
}

.progressInput {
  width: 20vw;
  min-width: 15rem;
  height: 5px;
  -webkit-appearance: none;
}

.progressInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #940f06;
  cursor: pointer;
  border-radius: 100%;
}
