.progress {
  width: 50vw;
  max-width: 25rem;
}

.progressInput {
  width: 100%;
  height: 7px;
  margin: 0;
  border-radius: 999px;
  -webkit-appearance: none;
}

.progressInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: var(--teal-blue);
  cursor: pointer;
  border-radius: 100%;
}

@media only screen and (max-width: 480px) {
  .progress {
    width: 80vw;
  }
}
